# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log
*.pyo
*.pyd

# Environment files
.env
*.env

# Local data files
*.csv
*.json
*.xlsx
*.sqlite
*.db
*.pkl
mood_sleep_data.csv

# Streamlit config & secrets
.streamlit/secrets.toml

# IDEs & editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Deployment / build
build/
dist/
